{% macro Menu() %}
	<nav>
		<ul class="menu">
			<li class="menu-Item">
				<a class="menu-Link js-menu-Link" href="home.html">Accueil</a>
				<ul class="ssMenu menu-SsMenu">
					<li class="ssMenu-Item">
						<a class="ssMenu-Link">totototototot</a>
					</li>
				</ul>
			</li>
			<li><a href="cat1.html">Cat 1</a></li>
			<li><a href="cat2.html">Cat 2</a></li>
		</ul>
	</nav>
{% endmacro %}