{# layout.twig #}
{% from "../components/menu/menu.twig" import Menu as Menu %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>{{ title }}</title>
		{% block css %}{% endblock %}
	</head>
	<body>
		<header>
			<h1>Efficom</h1>
		</header>
		{{ Menu() }}
		<section>
			{% block content %}
				<p>toto</p>
			{% endblock %}
		</section>
		<footer>
			&copy; efficom 2016
		</footer>
		
		{% block js %}{% endblock %}
	</body>
</html>







